<div class="sidenav">
  <form class="form-inline md-form form-sm">
    <i class="fa fa-search" style="color: white" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
  </form>

  <button class="dropdown-btn">Categorías
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#" (click)="getCategoryItems('hogar')">Hogar</a>
    <a href="#" (click)="getCategoryItems('gastronomía')">Gastronomía</a>
    <a href="#" (click)="getCategoryItems('enseñanza')">Enseñanza</a>
    <a href="#" (click)="getCategoryItems('salud')">Salud</a>
    <a href="#" (click)="getCategoryItems('tecnología')">Tecnología</a>
    <a href="#" (click)="getCategoryItems('vestimenta')">Vestimenta</a>
    <a href="#" (click)="getCategoryItems('transporte')">Transporte</a>
    <a href="#" (click)="getCategoryItems('estética')">Estética</a>
    <a href="#" (click)="getCategoryItems('turismo')">Turismo</a>
  </div>

  <a href="#about">Abo.ut</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
