<div class="row" style="padding:3%; padding-left: 7%; padding-right: 7%">
    <div *ngFor="let benefit of benefits" class="benefit-card col-md-3" style="margin-bottom: 60px;">
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect
          style="margin-left:auto; margin-right:auto">
            <!-- Card img -->
            <mdb-card-img src={{benefit._source.image}} alt="Card image cap"></mdb-card-img>
            <a href={{benefit._source.uri}} target="_blank">
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body class="benefit-body">
            <!--Title-->
            <mdb-card-title>
              <h4>{{benefit._source.store}}</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>
              {{benefit._source.description}}
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
        <!-- Card -->
  </div>
</div>
