<div style="width: 100%; height: 320px; background-image:url('assets/images/banner.jpg'); padding: 2%; background-size: contain; background-repeat: no-repeat">
  <div class="container-fluid" style="width:100%; margin-top: 90px">
      <div class="row">
        <div class="col-sm">
          <!--<input id="searchbox" type="text" class="form-control" placeholder="Ingrese su búsqueda" style="margin: 0.375rem">-->
          <app-searchbox [options]="stores"></app-searchbox>
        </div>
         <div class="col-sm">
          <div class="dropdown-banner">
            <ng-multiselect-dropdown
            [placeholder]="'Categoría'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelectCategory($event)"
            (onDeSelect)="onItemDeSelectCategory($event)"
            (onSelectAll)="onSelectAllCategories($event)"
            (onDeSelectAll)="onDeSelectAllCategories($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-sm" >
          <div class="dropdown-banner">
            <ng-multiselect-dropdown
            [placeholder]="'Institución'"
            [data]="[
            { item_id: 1, item_text: 'BROU'},
            { item_id: 2, item_text: 'OCA' },
            { item_id: 3, item_text: 'SCOTIABANK' }
            ]"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelectBank($event)"
            (onDeSelect)="onItemDeSelectBank($event)"
            (onSelectAll)="onSelectAllBanks($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-sm" >
          <div class="dropdown-banner">
            <ng-multiselect-dropdown
            [placeholder]="'Tipo de tarjeta'"
            [data]="[
            { item_id: 1, item_text: 'Débito'},
            { item_id: 2, item_text: 'Crédito' }
            ]"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelectCard($event)"
            (onDeSelect)="onItemDeSelectCard($event)"
            (onSelectAll)="onSelectAllCards($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-sm">
          <button (click)="search()" type="button" class="btn btn-buscar"><span>BUSCAR</span></button>
        </div>
      </div>
    </div>
</div>
<div class="row" style="margin-top:1%">
  
  <div class="col-md-3"></div>
  <h2 *ngIf="order" class="col-md-3" style="padding-left:5%; text-align:center">{{results.length}} resultados</h2>
  <div *ngIf="order" class="dropdown-banner col-md-2" style="float:right; padding:0; margin-left:4%">
    <ng-multiselect-dropdown [placeholder]="'Ordenar por'"
      [data]="[
        { item_id: 1, item_text: 'A-Z' },
        { item_id: 2, item_text: 'Z-A' },
        { item_id: 3, item_text: '% Mayor a menor'},
        { item_id: 4, item_text: '% Menor a mayor' }
      ]"
      [settings]="sortSettings"
      (onSelect)="onItemSelectSort($event)">
  </ng-multiselect-dropdown>
  </div>
</div>
<br>
<!--<img class="img-responsive" src="assets/images/people.jpg"> -->
  <div id="principal" class="container">
    <div *ngIf="results.length>0" style="display:inline-block">
      <app-cards [benefits]="results"></app-cards>
    </div>
  </div>
