<div style="background-image: url('assets/images/people.jpg'); padding: 5%; background-size: cover;">
  <div class="container-fluid" style="width:100%">
      <div class="row">
        <div class="col-sm" >
          <div style="background-color: white; margin: 0.375rem; border-radius: 5px">
            <ng-multiselect-dropdown
            [placeholder]="'Tipo de tarjeta'"
            [data]="[
            { item_id: 1, item_text: 'Débito'},
            { item_id: 2, item_text: 'Crédito' }
            ]"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-sm">
          <div style="background-color: white; margin: 0.375rem; border-radius: 5px">
            <ng-multiselect-dropdown
            [placeholder]="'Categoría'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Ingrese su búsqueda" style="margin: 0.375rem">
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary">BUSCAR</button>
        </div>
      </div>
    </div>
</div>
<br>
<!--<img class="img-responsive" src="assets/images/people.jpg"> -->
  <div id="principal" class="container">
    <div *ngIf="results.length>0" style="display:inline-block">
      <app-cards [benefits]="results"></app-cards>
    </div>
  </div>
